<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Travel APP</title>

        <script src="https://kit.fontawesome.com/e8d5dc1da5.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../../../dist/main.js"></script>
    </head>

    <body>
        <h1 class="heading">Travel Journey</h1>
        <div id="app">
            <form class="" onsubmit="return Client.handleSearch(event)">
                <label for="destination">Destination</label>
                <i class="fas fa-globe-africa fa-1x"></i>
                <input type="search" id="city" name="input" value="" onblur="return Client.handleSearch(event)" placeholder="Enter destination here 😊" required>
                <div id="error-message"></div>
                    
                <div class="dates">
                    <div id="departure-date">
                        <label for="departure-date">Departure:</label>
                        <i class="fas fa-plane-departure"></i>
                        <input type="date" class="date-input" id="departure-date" name="go-date" placeholder="DD-MM-YYYY" required>
                    </div>
                    <br>
                </div>
                <input type="submit" name="ready-to-go" value="Search" onclick="return Client.handleSearch(event)" onsubmit="return Client.handleSearch(event)">
            </form>

            <section id="travel_modal" class="modal">
                <div class="modal-content">
                    <div>
                        <span class="close">&times;</span>
                    </div>

                    <div class="modal_info">
                        <img id="modal_img" src="../media/bridgebackground.jpg">

                        <p>
                            <h2>Travel to <span class="location">Rome,</span>
                                <span class="country">
                                    Italy
                                </span>
                            </h2>
                            <strong>Departure: </strong>
                            <span id="date">
                                06/11/2020
                            </span>
                        </p>

                        <p>
                            <strong>Travel to:</strong><span class="location">Rome, </span>
                            <span class="country">
                                Italy
                            </span>
                            <span id="days_to_travel">
                                in 22 days from now.
                            </span>
                        </p>

                        <p>
                            <strong>Weather:</strong>
                            <span id="max_temp">Max: 28º</span>
                            <span id="min_temp">, Low: 12º</span>
                            <span id="weather"></span>
                        </p>
                        
                        <input id="modal_button" type="button" value="Export to PDF">
                            <i class="far fa-file-pdf"></i>
                        <input id="modal_button" type="button" value="Print Journey">
                    </div>
                </div>
            </section>
        </div>

        <footer>
            <span>Copyright <i class="far fa-copyright fa-1x"></i> 2020 by Cristiana Pereira | All rights reserved</span>
            <div>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://twitter.com/login?lang=pt"><i class="fab fa-twitter-square fa-2x"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="http://www.github.com/"><i class="fab fa-github-square fa-2x"></i></a>
            </div>
        </footer>

        <script src="../js/app.js"></script>
    </body>
</html>
