<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Travel APP</title>

        <script src="https://kit.fontawesome.com/e8d5dc1da5.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <h1 class="heading">Travel Journey</h1>
        
        <div id="app">
            <!-- onsubmit="return false" prevents the page reload when "Search" button is clicked-->
            <form class="" onsubmit="return false">
                <div>
                    <div class="title">
                        <label for="destination">Destination:</label>
                        <i class="fas fa-globe-africa fa-1x"></i>
                    </div>

                    <input type="search" id="city" name="input" value="" placeholder="Enter destination here 😊" required>
                </div>

                <div
                    id="error-message">
                </div>
                    
                <div id="departure">
                    <div class="title">
                        <label for="departure-date">Departure:</label>
                        <i class="fas fa-plane-departure"></i>
                    </div>
                    <input type="date" class="date-input" id="departure-date" name="setTodaysDate" placeholder="DD-MM-YYYY" required>
                </div>

                <input type="submit" name="ready-to-go" value="Search" onclick="return Client.getTravelInfo(event)">
                <span id="history-button" onclick="return Client.travelHistory()">
                    Travel Legder
                </span>
            </form>
        </div>

        <div id="travel-history-container">
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                     <h2>Travel Destination</h2>
                </div>
                
                <div class="modal-body">
                    <h2 id="modal-city-name"></h2>
                    <img id="modal-city-image" alt="city">
                    <span id="modal-days-away"></span>
                    <span id="modal-temperature"></span>
                    <span id="modal-weather"></span>
                    <input type="button" value="Print Travel" onClick="window.print()">
                </div>
            </div>
        </div>

        <footer>
            <span>Copyright <i class="far fa-copyright fa-1x"></i> 2020 by Cristiana Pereira | All rights reserved</span>
            <div>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://twitter.com/login?lang=pt"><i class="fab fa-twitter-square fa-2x"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="http://www.github.com/"><i class="fab fa-github-square fa-2x"></i></a>
            </div>
        </footer>
    </body>
</html>