html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: rgb(27,136,136);
    background-image: url("../media/bbackground.jpg"); // CHANGE THE PICTUR TE MOUNTAIN ONE
    background-size: cover;
    background-repeat: no-repeat;
}

#error-message {
    color: red;
    font-size: 12px;
    font-weight: 700;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 25px auto;
}

@media screen and (max-width: 800px) {
    .heading {
        display: flex;
        justify-content: center;
    }

    body {
        padding: 20px;
    }
}