html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: rgb(27,136,136);
    background-image: url("../media/mountainbackground.jpg");
    background-size: auto;
}

#error-message {
    margin-top: -10px;
    color: rgb(255, 0, 0);
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 8px;
    padding-left: 35%;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 25px auto;
}

.history-card {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0.5;
}

@media screen and (max-width: 800px) {
    .heading {
        display: flex;
        justify-content: center;
    }

    body {
        padding: 20px;
    }
}