footer {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
    // border-radius: 20px;
}

.fa-facebook-square {
    color: rgb(27,136,136);
}

.fa-twitter-square {
    color: rgb(27,136,136);
}

.fa-linkedin {
    color: rgb(27,136,136);
}

.fa-github-square {
    color: rgb(27,136,136);
}