footer {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}

.social-media:hover {
    font-weight: 700;
}

.fa-facebook-square {
    color: rgb(4,61,81);
}

.fa-twitter-square {
    color: rgb(4,61,81);
}

.fa-linkedin {
    color: rgb(4,61,81);
}

.fa-github-square {
    color: rgb(4,61,81);
}