@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@700&display=swap');

form {
    border: 2px solid #545454;
    border-radius: 10px;
    padding: 40px;
    background: #ffffff61;
    width: 400px;
}

.title {
    font-size: 20px;
    font-family: 'Piazzolla', serif;
    font-weight: 700;
    margin-bottom: 7px;
}

input {
    margin-bottom: 20px;
    border-radius: 6px;
}

input[type="search"] {
    padding: 7px 20px; // to compensate the extra 4px in the calender icon in the date input
    width: 100%;
    line-height: 16px;
}

input[type="date"] {
    padding: 5px 20px;
    width: 89%;
    line-height: 16px;
}

input[type="submit"] {
    font-size: 14px;
    font-family: 'Source Serif Pro', serif;
    color: #e2dede;
    width: 100%;
    text-transform: uppercase;
    border: 2px solid #17807be0;
    background-color: #198686e0;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2), 0 6px 80px 0 rgba(0,0,0,0.19);
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #299c7f96;
    color: #fffee4;
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.2), 0 12px 80px 0 rgba(0,0,0,0.19)
}

#history-button {
    color: rgb(53, 60, 136);
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#history-button:hover {
    font-weight: 700;
    color: #fffee4;
}