@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@700&display=swap');

form {
    border: 2px solid rgb(84, 84, 84);
    border-radius: 10px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.38);
    width: 400px;
}

.title {
    font-size: 20px;
    font-family: 'Piazzolla', serif;
    font-weight: 700;
    margin-bottom: 7px;
}

input {
    margin-bottom: 20px;
    border-radius: 6px;
}

input[type="search"] {
    padding: 7px 20px; // to compensate the extra 4px in the calender icon in the date input
    width: 100%;
    line-height: 16px;
}

input[type="date"] {
    padding: 5px 20px;
    width: 89%;
    line-height: 16px;
}

input[type="submit"] {
    font-size: 14px;
    font-family: 'Source Serif Pro', serif;
    color: rgb(226, 222, 222);
    width: 100%;
    text-transform: uppercase;
    border: 2px solid rgba(59, 78, 84, 0.33);
    background-color: rgb(40, 117, 148);
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2), 0 6px 80px 0 rgba(0,0,0,0.19);
    margin-top: 20px;
}

input[type="submit"]:hover {
    color: rgb(255, 254, 228);
    background-color: rgb(4, 61, 81);
    border: 2px solid rgb(4, 61, 81);
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.2), 0 12px 80px 0 rgba(0,0,0,0.19)
}

#history-button {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Source Serif Pro', serif;
    color: rgba(255, 255, 255, 0.67);
    text-transform: uppercase;
    border: 2px solid rgba(138, 148, 148, 0.88);
    background-color: rgba(128, 128, 128, 0.48);
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2), 0 6px 80px 0 rgba(0,0,0,0.19);
}

#history-button:hover {
    color: rgb(255, 254, 228);
    background-color: rgb(138, 148, 148);
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.2), 0 12px 80px 0 rgba(0,0,0,0.19)
}

@media screen and (max-width: 900px) {
    form.form {
        width: auto;
    }

    input[type="date"] {
        width: 80%;
    }
}