@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
header {
    display: flex;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    justify-content: space-between;
    padding: 10px 40px;
}