@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;600;700&display=swap');

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  font-family: 'Piazzolla', serif;
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

.modal-body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.modal-body img {
  width: auto;
  height: auto;
  max-height: 450px;
  padding-bottom: 15px;
}

.modal-body span {
  line-height: 35px;
}

input[type="button"] {
  font-size: 14px;
  font-family: 'Piazzolla', serif;
  color: #e2dede;
  width: 50%;
  border: 2px solid rgb(51, 124, 161);
  background-color: rgb(122, 184, 214);
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2), 0 6px 80px 0 rgba(0,0,0,0.19);
  margin: 30px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgb(254, 254, 254);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #7ab8d6;
  color: white;
}

@media print {

  // To print just one page
  html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  .modal-content {
    width: 95%;
    padding: 10px;
  }

  input[type="button"] {
    display: none;  
  }

  .close {
    display: none;
  }
}

@media screen and (max-width: 1700px) {
  .modal-body img{
      width: 60%;
  }
}